[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pytz = "*"
streamlit-javascript = "*"
python-chess = "*"

[dev-packages]
notebook = "*"
jupyterlab = "*"
ipykernel = "*"
matplotlib = "*"
datasets = "*"
pyarrow = "*"

[requires]
python_version = "3.13"
